*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    outline: 1px solid black;
}
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 8%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    display: flex;
    flex: 1;
}

.sidebar {
    flex: 0 0 20%;
}

.content { 
    flex: 1;
    display: flex;
    align-items: center;
}

footer {
    flex: 0 0 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer>a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

footer>a:hover {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}


.svg {
    height: 2rem;
    width: 2rem;
}